{% include 'base.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<link rel="stylesheet" type="text/css" href="{% static 'organizer/style.css' %}">


<h3><div class = "text-center mb-4 p-3 mb-2 bg-primary text-white"> Classes 2021-2022 </div></h3>


<ul>
{% csrf_token %}
{% for element in classes_list %}
  <p><a href="{% url 'organizer:detail' element.class_name %}">{{element.class_name}}</a></p>
{% endfor %}
</ul>

<a class="btn btn-primary" href="{% url 'organizer:reviews' %}" role="button">Leave a review for a class</a>

