{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}


<html>

<h1>{{ course.class_name }}</h1>


<label for="enrollment" id=enrollment name=enrollment>Total Enrollment: {{course.enrollment}}</label>
{% csrf_token %}
<h2>Students</h2>
{% if course.users%}
    {% for user in course.users.all%}
        <li>{{user.username}}</li>
    {% endfor %}
</ul>
{% endif %}


<h2>Class PDFs</h2>

{% for note in notes%}
    {% with uploaded_note=note.file %}   
    <li class="list-group-item">
    <a href="{{ uploaded_note.url }}">{{ uploaded_note.name }}</a>
    <small>({{ uploaded_note.size|filesizeformat }})</small>
    {% endwith %}
    </li>

{% endfor %}

<br>
<form enctype='multipart/form-data' action="{% url 'organizer:upload_file' course.class_name%}" method="POST" data-ajax="false">
{% csrf_token %}
{{ form }}
<input type="submit" value="Add Notes"/>
</form> 



<a href="{% url 'organizer:classes' %}">See All Classes</a>
<br><br>
{% for element in reviews %}
    {{element.class_name}}:
    {{element.class_prof}}:
    {{element.review_text}}
<br>
{% endfor %}

<br>
<a class="btn btn-primary" href="reviews" role="button">Leave a review</a>
</html>

