<!-- #Sources for file upload: https://docs.djangoproject.com/en/3.2/topics/http/file-uploads/, https://www.askpython.com/django/upload-files-to-django, https://stackoverflow.com/questions/15846120/uploading-a-file-in-django-with-modelforms
#Sources for tags: https://django-taggit.readthedocs.io/en/latest/, https://hackernoon.com/how-to-add-tags-to-your-models-in-django-django-packages-series-1-4y1b32sf, https://aymane-talibi-at.medium.com/how-to-add-tags-in-django-19090e8d05d3
 -->
{% include 'base.html' %}
{% load static %}

<html>
<body>
<link rel="stylesheet" type="text/css" href="{% static 'organizer/style.css' %}">
{% if user in course.users.all%}

<h3><div class = "text-center mb-4 p-3 mb-2 bg-custom text-white"> {{ course.class_name }} </div></h3>

<h5><div class = "text-center mb-4 p-3 mb-2"> Total Enrollment: {{course.enrollment}}</div></h5>
{% csrf_token %}


<form enctype='multipart/form-data' action="{% url 'organizer:upload_file' course.class_name%}" method="POST" data-ajax="false">
    {% csrf_token %}
    <a class="btn btn-custom3 btn-lg btn-block text-light" data-bs-toggle="collapse" href="#upnotes" role="button" aria-expanded="true" aria-controls="upnotes">
        Upload Notes <i class="bi bi-arrow-down-circle-fill"></i>
      </a>
    <div class="collapse show" id="upnotes">
        <div class="card card-body">
    {{ form.as_p }}
    <button type="submit" class="btn btn-custom5">Add Notes</button> 
    </form> 
    </div>
    </div>


<a class="btn btn-custom3 btn-lg btn-block text-light" data-bs-toggle="collapse" href="#students" role="button" aria-expanded="true" aria-controls="students">
    Currently Active Students <i class="bi bi-arrow-down-circle-fill"></i>
  </a>
  <div class="collapse show" id="students">
    <div class="card card-body">
        <ul>
        {% if course.users%}
        {% for user in course.users.all%}
            <li class="list-unstyled"><i class="bi bi-file-person"></i>{{user.username}}</li>
        {% endfor %}
        </ul>
        {% endif %}    
    </div>
  </div>


<br>

<a class="btn btn-custom3 btn-lg btn-block text-light" data-bs-toggle="collapse" href="#notes" role="button" aria-expanded="true" aria-controls="notes">
    All Class PDFs <i class="bi bi-arrow-down-circle-fill"></i>
  </a>


<div class="collapse show" id="notes">
    <div class="card card-body">
{% if slug%}
<h2>Class PDFs: <div class="mr-1 badge badge-info"> {{slug}}</div></h2>
{% else %}
<h2>Class PDFs</h2>
{% endif %}

<p>Common Tags: 
    {% for mt in common_tags %}
        <a href="{% url 'organizer:tagged' course.class_name mt.slug %}" class="badge badge-success">{{mt}}</a>
    {% endfor %}
</p>
<div class="overflow-auto">
{% for note in notes%}
    {% with uploaded_note=note.file %}   
    <li class="list-group-item">
    <a href="{{ uploaded_note.url }}">{{ uploaded_note.name }}</a>
    <small>({{ uploaded_note.size|filesizeformat }})</small>
    {% for tag in note.tags.all %}
    <a href="{% url 'organizer:tagged' course.class_name tag.slug %}" class="mr-1 badge badge-info">{{tag}} </a>
    {% endfor %}
    {% endwith %}
    </li>

{% endfor %}
</div>
</div>
</div>


<br>

{% else %}

<p>You are not a currently a student in this class.</p>
<form action="{% url 'organizer:join_class' course.class_name%}" method="post">
{% csrf_token %}
<button class="btn btn-primary" type="submit">Join Class</button>
</form>
{% endif %}

<a class="btn btn-custom3 btn-lg btn-block text-light" data-bs-toggle="collapse" href="#reviews" role="button" aria-expanded="true" aria-controls="notes">
    Reviews <i class="bi bi-arrow-down-circle-fill"></i>
  </a>
<div class="collapse show" id="reviews">
    <div class="card card-body">
{% for element in reviews %}
    {{element.class_Instructor}} - 
    {{element.course}}:
    {{element.review}}
<br>
{% endfor %}
</div>
</div>

<br>

<a class="btn btn-primary ml-4" role="button" href="{% url 'organizer:classes' %}">See All Classes</a>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
</body>
</html>



