{% load socialaccount %}
{% include 'base.html' %}
{% load static %}
{% load bootstrap5 %}


<link rel="stylesheet" type="text/css" href="{% static 'organizer/style.css' %}">


<html>
<body>
<h3><div class = "text-center mb-4 p-3 mb-2 bg-custom text-white"> Assignment Organizer </div></h3>




{% if user.is_authenticated %}
  <p class="text-center ml-2 pl-2">Welcome, {{ user.username }}!</p>

<h3 class="ml-2 pl-2">Classes You're Enrolled In:</h3>
  {% for course in schedule%} 
      <li class="list-group-item">
        <a class="btn btn-danger btn-lg" role="button" href="{% url 'organizer:detail' course %}">{{course}}</a>
      </li>
  {% endfor %}



  <br>
  <br>
  <br>
  <br>
  <br>


<h3><div class = "text-center mb-4"> <a class="btn btn-primary btn-lg " href="{% url 'organizer:classes' %}" role="button">See All Classes</a> </div></h3>

<h3><div class = "text-center mb-4"> <a class="btn btn-primary btn-lg " href="{% url 'organizer:todo' %}" role="button">Assignment Organizer</a> </div></h3>

<h3><div class = "text-center mb-4"> <a class="btn btn-primary btn-lg " href="{% url 'organizer:calendar' %}" role="button">Calendar</a> </div></h3>
  <br>
  <br>
  <br>
  <br>
  <br>

{% else %}
<p>Please login to access assignments and notes.</p>
{% endif %}


</body>
</html>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
