{% load socialaccount %}
{% include 'base.html' %}
{% load static %}
{% load bootstrap5 %}


<link rel="stylesheet" type="text/css" href="{% static 'organizer/style.css' %}">


<html>
<body>
<h3><div class = "text-center mb-4 p-3 mb-2 bg-custom text-white"> Assignment Organizer </div></h3>




{% if user.is_authenticated %}
  <p class="text-center ml-2 pl-2">Welcome, {{ user.username }}!</p>

<h3 class="ml-2 pl-2">Your Classes</h3>
      <table class="table table-hover table-custom">
        <thead class="bg-custom2 text-white">
          <tr>
            <th scope="col" class="bg-custom2">Class</th>
            <th scope="col">Days</th>
            <th scope="col">Timing</th>
          </tr>
        </thead>
      {% for course in schedule%} 
      <tbody>
        <tr>
          <td><a class="btn btn-danger btn-lg" id="class" role="button" href="{% url 'organizer:detail' course %}">{{course}}</a></td>
          <td><i class="bi bi-calendar"></i> {{course.days}}</td>
          <td><i class="bi bi-clock"></i> {{course.timing}}</td>
        </tr>
      {% endfor %}
      </tbody>
      </table>




  <br>
  <br>
  <br>
  <br>
  <br>



{% else %}
<p><div class= "text-center mb-4">Please login to access assignments and notes.</div></p>
{% endif %}


</body>
</html>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
