a[aria-expanded=false] .bi-arrow-down-circle-fill {
  transition: .3s transform ease-in-out;
  transform: rotate(180deg);
 }

.bg-custom {
  background-color: #FD7880 !important;
}

.footer {
    height: fit-content;
  }
  
.btn-danger{
   background-color:	#FFAA33 !important;
   border-color: #FFAA33 !important;
}
.btn-custom2{
  background-color: #FDB44E ;
  background-color: #FDB44E ;
}

.bg-custom2{
  background-color: #5A61B0 !important ;
  background: #5A61B0 !important;
}

.btn-custom3{
  background-color: #7DB0A8 ;
  background-color: #7DB0A8 ;
}

.btn-custom4{
  background-color: #FEE68E ;
  background-color: #FEE68E ;
}

.btn-custom5{
  background-color: #90EE90 ;
  background-color: #90EE90 ;
}

.btn-custom{
  background-color: #5A61B0;
  background-color: #5A61B0;
}
.navbar .container-fluid>.navbar-header {
    float: left;
    margin-right: 10px;
  }
.navbar .navbar-nav {
    float: left;
  }

.nav>li {
    float: left;
  }

.body {
    background-color:#F1F1EF;
  }

.calendar {
    width: 98%;
    margin: auto;
    font-size: 13px;
    margin-bottom: 100px;
    margin-top: 10px;
  }
  
.calendar tr, .calendar td {
    border: 1px solid black;
  }
  
 .calendar th {
    padding: 10px;
    text-align: center;
    font-size: 18px;
  }
  
 .calendar td {
    width: 200px;
    height: 150px;
    padding: 20px 0px 0px 5px;
  }
  
  .month {
    font-size: 25px;
  }
  
  .date {
    font-size: 16px;
  }
  
  ul {
    height: 100%;
    padding: 0px 5px 0px 20px;
  }

    
ul.custom{
    height: 80% !important;
    margin-bottom: 100px;
    padding-bottom: 100px;
    
  }

     
ul.errorlist{
    margin-bottom: 2px;
    padding-bottom: 2px;
    height: 3% !important;
    
  }
  
  a {
    color: #17a2b8;
  }

.left {
    float: left;
  }
  
.right {
    float: right;
  }
  

.form {
  margin: auto;
}
  
.form input, .form select, .form textarea {
  border-radius: 5px;
  border: 1px solid #17a2b8;
  outline: none;
  background: none;
  padding: 5px;
  width: 100%;
}

submit{
 background-color: #5cb85c;
}