.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(70, 70, 70);
    color: white;
    text-align: center;
  }
  
  .navbar .container-fluid>.navbar-header {
    float: left;
    margin-right: 10px;
  }
  .navbar .navbar-nav {
    float: left;
    margin: 5px;
  }
  .nav>li {
    float: left;
  }

  body {background-color:#F1F1EF}