.bg-custom {
  background-color: #FD7880 !important;
}

.footer {
    height: fit-content;
  }
  
.btn-danger{
   background-color:	#FFAA33 !important;
   border-color: #FFAA33 !important;
}
.navbar .container-fluid>.navbar-header {
    float: left;
    margin-right: 10px;
  }
.navbar .navbar-nav {
    float: left;
  }

.nav>li {
    float: left;
  }

.body {
    background-color:#F1F1EF;
  }

.calendar {
    width: 98%;
    margin: auto;
    font-size: 13px;
    margin-bottom: 100px;
    margin-top: 10px;
  }
  
.calendar tr, .calendar td {
    border: 1px solid black;
  }
  
 .calendar th {
    padding: 10px;
    text-align: center;
    font-size: 18px;
  }
  
 .calendar td {
    width: 200px;
    height: 150px;
    padding: 20px 0px 0px 5px;
  }
  
  .month {
    font-size: 25px;
  }
  
  .date {
    font-size: 16px;
  }
  
  ul {
    height: 100%;
    padding: 0px 5px 0px 20px;
  }
  
  a {
    color: #17a2b8;
  }

.left {
    float: left;
  }
  
.right {
    float: right;
  }
  

.form {
  margin: auto;
}
  
.form input, .form select, .form textarea {
  border-radius: 5px;
  border: 1px solid #17a2b8;
  outline: none;
  background: none;
  padding: 5px;
  width: 100%;
}
